body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:140px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:140px;
}
#u2 {
  position:absolute;
  left:2px;
  top:62px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:421px;
  top:62px;
  width:35px;
  height:15px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:478px;
  top:62px;
  width:34px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:523px;
  top:62px;
  width:44px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:0px;
  top:1000px;
  width:960px;
  height:140px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:140px;
}
#u10 {
  position:absolute;
  left:2px;
  top:62px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:573px;
  top:1062px;
  width:35px;
  height:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:630px;
  top:1062px;
  width:35px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:675px;
  top:1062px;
  width:35px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:140px;
  width:960px;
  height:860px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:860px;
}
#u18 {
  position:absolute;
  left:2px;
  top:422px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:60px;
  top:10px;
  width:200px;
  height:100px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
